html
{
    background-color:#fff;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(233,245,255);
	background: linear-gradient(180deg, rgba(233,245,255,1) 0%, rgba(236,242,247,1) 5%, rgba(255,255,255,1) 100%);		
}
.PayButton
{
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.CartButton
{
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;		
}		
.PayButton:hover
{
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.CartButton:hover
{
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.PayButton:active, .CartButton:active
{
	position:relative;
	top:1px;
}
#SiteBanner
{
	height:30px;
	background-color:#007;
	padding:10px;
	margin:0px;
	color:#eee;
	font-size:26px;
	padding-left:20px;
}
#TopPayButton
{
	padding:10px;
	text-align:right;
	float:right;
}
#BottomPayButton
{
	padding-top:20px;
	text-align:right;
	clear:both;
}
#CartContents
{
	width:100%;
	border:1px solid #777;
	padding:2px;
}
#CartContentsHeader
{
	background-color:#d9e5ee;
}
#CartContentsBody
{
	background-color:#fff;
}	
#CartContentsFooter
{
	background-color:#dee5e8;
}
#Totals
{
	width:300px;
	margin:20px;
	padding:20px;
	float:right;
	background-color:#dee5e8;
	border:1px solid #cbcdcb;
}
.TotalsLabel
{
	float:left;
	clear:left;
}
.TotalsText
{
	float:right;
	clear:right;
}
.GrandTotal
{
	font-weight:bold;
	font-size:18px;
}
#SimulateTamperingPanel 
{
    text-align: right;
    padding-top: 15px;
}